/*.body{
	width: 1100px;
	background-image:url("../img/background.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin:auto;
	overflow: hidden;
	min-height: 100%;
}*/
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

.site-footer {
	background: #333332;
}

footer .site-info {
	padding: 60px 0;
    overflow: hidden;
}

footer .site-info,
footer .site-info a {
	color: #fff;
}

footer .site-info a:hover {
	color: #009eff;
}

footer .site-info .footer-inner {
	padding-top: 60px;
	margin-bottom: 60px;
}

footer .site-info p {
	margin-top: 0;
	margin-bottom: 25px;
}

footer .site-info .col-sm-2 {
    width: 19.33333333%;
}

footer .social-icon {
    margin-top: 25px;
}

footer .social-icon a {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 28px;
	border: 1px solid #e2eaec;
	color: #000;
	text-align: center;
	font-size: 12px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-radius: 2px;
}

footer .social-icon a:hover {
	background: #009eff;
	color: #fff;
	border-color: #009eff;
}

footer .social-icon a:last-child {
	margin-right: 0;
}

.footer-newsletter {
	background: #fff;
	text-align: center;
	border-top: 1px solid #eee;
	padding: 80px 0;
}

.footer-newsletter .widget-title  {
    margin-top: 0;
    line-height: 1.4;
    position: relative;
    padding-bottom: 35px;
}

.footer-newsletter .widget-title:before {
	width: 30px;
	bottom: 25px;
}

.footer-newsletter .widget-title:after {
    bottom: 22px;
    width: 14px;
}

.footer-newsletter .widget-title:after,
.footer-newsletter .widget-title:before {
	content: '';
	height: 0;
	border-top: 1px solid #9c9c9c;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
}

.footer-newsletter p {
    margin-bottom:10px;
	margin-top: 0;
}

.footer-newsletter #subscribe-form {
	margin-top: 25px;
}

.footer-newsletter input {
	margin-top: 0;
	margin-right: 70px;
	margin-left: 50px;
}

.footer-newsletter input.button {
	padding: 13px 50px 13px 50px;
}

.footer-newsletter input[type="email"] {
	width: 100%;
	max-width: 440px;
	margin-bottom: 15px;
}

.footer-newsletter input[type="email"]:focus {
	border-color: #009eff;
}

.footer-newsletter #subscribe-result,
#subscribe-result {
	line-height: 1.4;
	font-size: 13px;
}

.footer-copyright p {
	border-top: 1px solid #e2eaec;
	margin-top: 0;
	padding: 20px 0;
	font-size: 14px;
	text-align: center;
	color: #999;
}

.footer-logo a img {
	padding-bottom: 25px;
}

.footer-widget.widget {
	margin-bottom: 0;
}

.footer-widget .widget-title {
	font-size: 13px;
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: 0.065em;
}


.footer-widget ul {
	padding-left: 0;
}

.footer-widget ul li {
	border-bottom: 0;
	padding-bottom: 5px;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	font-size: 14px;
}

.footer-widget .menu .user-cart {
	display: none;
}