html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}



html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}

.body{

	 width: 1100px;

	 background-image:url("../img/background.png");

     background-repeat: no-repeat;

     background-size: 100% 100%;

     margin:auto;

	overflow: hidden;

	 min-height: 100%;

}

.logo {
	position: relative;
	left: 16px;
	top: -32px;
}

.kontainer{

	width: 900px;

	overflow: hidden;

	margin: auto;

	top: 0;

}

.header{

	width: 100%;

}

header{

	width: 900px;

	overflow: hidden;

	height: 192px;

	background-size:102%;

    background-repeat: no-repeat;

	background-image: url('../img/2.jpg');

}

.cari{  

	margin-left: 650px;

}

.cari input[name="carii"]{

	margin-top: 30px;

}

.cari input[name="go"]{

	background-color: orange;

	border: solid 1px orange;

	border-radius: 2px;

	color: white;

}

.menu{

    position: absolute;

    top: 139px;

    width: 500px;

    margin-left: 420px;

}

.menu li{

	background-color: #f4cb4f;

	float: left;

	list-style-type: none;

	margin: 1px;

	margin-top: -2px;

	padding:8px;

	-webkit-box-shadow: inset -1px 13px 22px -5px rgba(0,0,0,0.60);

	-moz-box-shadow: inset -1px 13px 22px -5px rgba(0,0,0,0.60);

	box-shadow: inset -1px 13px 22px -5px rgba(0,0,0,0.60);



}

.menu .awal{

	border-radius: 0 0 0px 25px;

}

.menu .akhir{

	border-radius: 0 0px 25px 0px;

}

.konten2{

	width: 900px;

	overflow: hidden;

	background: #c43b11;

	border-bottom: solid 5px #deaf42;

}

.konten2 .kanan{

	width: 50%;

	float: left;

	padding-top: 5px;

}

.konten2 .kiri{

	width: 50%;

	float: left;

}



.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}

.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}













.w3-tooltip,.w3-display-container{position:relative}.w3-tooltip .w3-text{display:none}.w3-tooltip:hover .w3-text{display:inline-block}

.w3-btn,.w3-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}

.w3-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}

.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   



.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}



.tengah{

	background: #c33b11;

	width: 100%;

	overflow: hidden;

}



.tengah .kiri{

	width: 35%;

	float: left;

	margin-top: 0px;



	overflow: hidden;

}

.tengah .kanan{

	width: 63%;

	float: left;

	margin: 0.5%;

	overflow: hidden;

}

.tengah2{

	background: #eee9d3;

	width: 100%;

	overflow: hidden;

}



.tengah2 .kiri2{

	width: 35%;

	float: left;

	margin-top: 0px;



	overflow: hidden;

}

.tengah2 .kanan2{

	width: 63%;

	float: left;

	margin: 0.5%;

	overflow: hidden;

	margin-top: -30px;

}

.konten-nya{

	background-color: white;

	margin-top: 30px;

	padding-left: 10px;

	padding-right: : 10px;

	padding-top: 5px;

}

.konten-thumbail{

	width: 94%;

	margin-left: 3%;

	margin-right: 3%;

}

.budaya-thumbail{

	width: auto;
	
	height: 130px;

	margin-left: 3%;

	margin-right: 3%;
	
	float: right;
	
	margin: 1%;
	
	padding: 1%;

}
.pustaka-thumbail{

	width: auto;

	height: 130px;

	margin-left: 3%;

	margin-right: 3%;

	float: left;

	margin: 1%;

	padding: 1%;

}
/*div #sejarah-box{*/
/*    margin:0 auto; */
/*    padding:0 auto;*/
/*}*/

.pembatas-title {
    border-top: solid 1px #d7d7d7;
    clear: left;
	width: 99%;
	margin-top: 20%;
}
.linknya {
    text-align: center;
    color: black;
    font-family: arial;
    font-weight: bold;
    text-decoration:none
}
.teks-besar {
	text-transform: capitalize;
}
.sejarah-title {
    clear: left;
    color: #68ad1e;
}

.sejarah-thumbail{


	width: 40%;
	
	height: auto;

	float: right;

	margin-right: 3%;

}



.scroll-pane

{

    width: 94%;

    height: 900px;

    border: solid 2px #deaf42;

    margin-left:3%; 

    margin-right:3%; 



}

.scroll-pane p

{

    margin: 5px;

}

 #scroll-pane {

    overflow:scroll;

}

.scroll-pane::-webkit-scrollbar { 

    display: none; 

}

.jspTrack {

    background: #deaf42 !important;

    width: 15px;

}



.jspDrag {

    background: #d6cfb2 !important;

    width: 15px;

}



.kotak-kiri{

	width: 96%;

	margin:1%;

	padding-bottom: 15px;

	padding-top: 15px;

	border-bottom: solid 1px #deaf42;



}

.kotak-kiri h5{

	color: white;

	margin-top: 0px;

	margin-bottom: 0px;

}

.kotak-kiri img{

	width: 98%;

	margin-left: 1%;

}

.menu-pages{



}

.menu-pages li{

	list-style-type: none;

 padding: 1px;

}

.menu-pages li ul li{

	



}

.border-bawah{

	 border-bottom: 1px solid  #deaf42;

}

.menu-pages a{

	color: black;

	text-decoration: none;

}

.menu-pages a:hover{

	color: #deaf42;

}

.atasnya-konten {

	border: 1;

}

.ok-nail {

	width:4%;

	margin-left: 3%;

	margin-right: 3%;

}

.atas-sejarah {
    
    display: table;

	width:30%; 

	height: 80px;

	background-color:#fff; 

	border:1px solid #d7d7d7; 

	margin:5px; 
	
	float:left;
	
	display:inline-block;
	
	margin-top: 12px;

	overflow: auto;
	
}
.atas-sejarah .gambar {

	float:left; 

	margin:8px 4px;

	width: 68px;

	height: auto;

	vertical-align: middle;

    display: table-cell;

    margin-right: 1em;

}

.atas-sejarah .konten-sejarah {
	padding-top: 8px; 
    word-spacing: 1px;
    vertical-align:middle;
    display:table-cell;
    text-align:justify;
	font-size: 12;
}
.pustaka-asli {
	margin: 0;
	padding: 0;
	border: 1px solid #DADADA;
	height: auto;
	width: 100%;
}
.pustaka-asli h5 {
	margin: 0;
	padding: 0;
}

